// fonts
$thin: lighter;
$regular:normal;
$bold:bold;
$font-family : 'system-ui';

// colors
$white: #fff;
$border: #e4e4e4;
$black: #000;
$text: #172B4D;
$light-bg: #EBECF0;
$border-color:#e0e0e0;
$border-input: #80bdff;
$link-color: #1890ff;
$link-hover: #0d68bd;
$success-ghost-text: #00875A;
$disabled-text-color: #C1C7D0;

$primary: #3366ff;
$primary-hover: #003399;
$primary-bg: #DEEBFF;
$success: #36B37E;
$success-hover: #006644;
$success-bg: #E2FFEE;
$danger: #FF5630;
$danger-hover:  #DE350B;
$danger-bg: #FFEBE5; 
$warning: #FF8B00;
$warning-hover: rgba(255, 183, 29, 0.9);
$warning-bg: #FFFAE6;
$disabled: #EBECF0;

$featured: #fbf6e1;