.btn{
    height: 40px;
    border-radius: 3px;
    padding: 0 32px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    border:0px;
    cursor: pointer;
    transition: all ease-in-out 0.1s;
    &:focus{
        outline:0px;
    }
    &.primary-btn{
        background-color: $primary;
        color:#fff;
        &:hover{
            background-color: $primary-hover;
            transition: all ease-in-out 0.1s;
        }
    }
    &.primary-ghost-btn{
        background-color: $primary-bg;
        color: $primary-hover;
        &:hover{
            background-color: $primary-hover;
            transition: all ease-in-out 0.1s;
            color: #fff;
        }
    }
    &.success-btn{
        background-color: $success;
        color:#fff;
        &:hover{
            transition: all ease-in-out 0.1s;
            background-color: $success-hover
        }
    }
    &.success-ghost-btn{
        background-color: $success-bg;
        color: $success-text;
        &:hover{
            background-color: $success-hover;
            color:#fff;
            transition: all ease-in-out 0.1s;
        }
    }
    &.disabled-btn{
        background-color: $disabled;
        color: $disabled-text;
    }
    &.clear-btn{
        background-color: $white;
        border:1px solid $border-color;
        color: $text;
    }
}
