.input{
    border: 1px solid #e0e0e0;
    height: 40px;
    border-radius: 3px;
    padding: 0 16px;
    width: 100%;
    &:focus{
        outline: 0px;
    }
}

.textarea{
    resize: none;
    border: 1px solid $border-color;
    height: 200px;
    padding: 8px 16px;
    width:100%;
    &:focus{
        outline: 0px;
    }
}

.checkbox{
    display: inline-block;
    margin-right: 10px;
    input[type="checkbox"]{
        display: none;
        cursor: pointer;
        & + label{
            cursor: pointer;
        }
        & + label:before{
            content: '\2714';
            border: 1px solid #e0e0e0;
            padding: 0 4px; 
            border-radius: 3px;
            color:transparent;
            margin-right: 6px;
        }
        &:checked + label:before {
            background-color: $primary;
            color:#fff;
        }
    }
}

.radio-button {
    margin: 5px 0;
    display: inline-block;
    cursor: pointer;
    input {
        display: none;
        cursor: pointer;
        & + label {
            line-height: 13px;
            display: inline-block;
            position: relative;
            cursor: pointer;
            &:not(:empty) {
                padding-left: 20px;
                margin-right: 10px;
            }
            &:before,
            &:after {
                content: '';
                width: 15px;
                height: 15px;
                display: block;
                border-radius: 50%;
                left: 0;
                top: 0;
                position: absolute;
            }
            &:before {
                background: $border-color;
                transition: background .2s ease, transform .4s cubic-bezier(.175, .885, .32, 2);
            }
            &:after {
                background: #fff;
                transform: scale(.78);
                transition: transform .6s cubic-bezier(.175, .885, .32, 1.4);
            }
        }
        &:checked + label {
            &:before {
                transform: scale(1.04);
                background: $primary;
            }
            &:after {
                transform: scale(.4);
                transition: transform .3s ease;
            }
        }
    }
    &:hover {
        input {
            & + label {
                &:before {
                    transform: scale(.92);
                }
                &:after {
                    transform: scale(.74);
                }
            }
            &:checked + label {
                &:after {
                    transform: scale(.4);
                }
            }
        }
    }
}

.radio-with-image{
    position: relative;
    display: inline-block;
    margin-right: 15px;
    &:last-child{
        margin-right: 0px;
    }
    input{
        margin: 0;
        padding: 0;
        -webkit-appearance: none;
        &:focus{
            box-shadow: unset;
        }
        // appearance:none;
        &:active{
            &+.drinkcard-cc{
                opacity: .9;
            }
        }
        &:checked{
            &+.drinkcard-cc{
                -webkit-filter: none;
                -moz-filter: none;
                filter: none;
            }
        }
    }
    .drinkcard-cc {
        cursor: pointer;
        background-size: contain;
        background-repeat: no-repeat;
        display: inline-block;
        width: 80px;
        height: 80px;
        -webkit-transition: all 100ms ease-in;
        -moz-transition: all 100ms ease-in;
        transition: all 100ms ease-in;
        -webkit-filter: brightness(1.8) grayscale(1) opacity(0.7);
        -moz-filter: brightness(1.8) grayscale(1) opacity(0.7);
        filter: brightness(1.8) grayscale(1) opacity(0.7);
        &:hover{
            -webkit-filter: brightness(1.2) grayscale(.5) opacity(.9);
            -moz-filter: brightness(1.2) grayscale(.5) opacity(.9);
            filter: brightness(1.2) grayscale(.5) opacity(.9);
        }
    }
    span.title {
        display: inline-block;
        position: absolute;
        left: -10px;
        width: 100px;
        top: 85px;
        text-align: center;
        white-space: nowrap;
        overflow: hidden;
    }
    &::after{
        display: table;
        content: '';
        clear: both;
    }
}

.radio-with-icon{
    position: relative;
    display: inline-block;    
    width: 33%;
    text-align: center;
    @media screen and (min-width:481px) {
        width:auto;
    }
    &:last-child{
        margin-right: 0px;
    }
    input{
        margin: 0;
        padding: 0;
        -webkit-appearance: none;
        &:focus{
            box-shadow: unset;
        }
        // appearance:none;
        &:active{
            &+.drinkcard-cc{
                opacity: .9;
            }
        }
        &:checked{
            &+.drinkcard-cc{
                background: #3366ff;
                color:#fff;
                img{
                    filter: invert(100%) sepia(0%) saturate(7473%) hue-rotate(320deg) brightness(104%) contrast(97%);
                }
            }
        }
    }
    .drinkcard-cc{
        position: relative;
        display: inline-block;
        margin-right: 10px;
        height: 50px;
        min-width: 90px;
        margin-bottom: 10px;
        border-radius: 3px;
        border: 1px solid #EBECF0;
        text-align: center;
        font-size: 12px;
        cursor: pointer;
        img{
            position: relative;
            top: 5px;
            height: 18px;
        }
        .title {
            padding: 0 5px;
            position: relative;
            top: 5px;
            display: block;
        }
    }
    &::after{
        display: table;
        content: '';
        clear: both;
    }
}

.radio-with-icon-vertical, .checkBox-with-icon-vertical{
    position: relative;
    display: inline-block;    
    width: 50%;
    text-align: center;
    @media screen and (min-width:481px) {
        width:auto;
    }
    &:last-child{
        margin-right: 0px;
    }
    input{
        margin: 0;
        padding: 0;
        -webkit-appearance: none;
        &:focus{
            box-shadow: unset;
        }
        // appearance:none;
        &:active{
            &+.drinkcard-cc{
                opacity: .9;
            }
        }
        &:checked{
            &+.drinkcard-cc{
                background: #3366ff;
                color:#fff;
                img{
                    filter: invert(100%) sepia(0%) saturate(7473%) hue-rotate(320deg) brightness(104%) contrast(97%);
                }
            }
        }
    }
    .drinkcard-cc{
        position: relative;
        display: inline-block;
        margin-right: 10px;
        height: 32px;    
        min-width: 135px;
        padding: 0 10px;
        margin-bottom: 10px;
        border-radius: 3px;
        border: 1px solid #EBECF0;
        text-align: center;
        font-size: 12px;
        cursor: pointer;
        img{
            position: relative;
            top: 3px;
            height: 16px;
            padding-right: 5px;
        }
        .title {
            position: relative;
            top: 5px;
            display: inline-block;
        }
    }
    &::after{
        display: table;
        content: '';
        clear: both;
    }
}

.radio-text{
    position: relative;
    display: inline-block;
    &:last-child{
        margin-right: 0px;
    }
    input{
        margin: 0;
        padding: 0;
        -webkit-appearance: none;
        &:focus{
            box-shadow: unset;
        }
        // appearance:none;
        &:active{
            &+.drinkcard-cc{
                opacity: .9;
            }
        }
        &:checked{
            &+.drinkcard-cc{
                background: #3366ff;
                color:#fff;
                img{
                    filter: invert(100%) sepia(0%) saturate(7473%) hue-rotate(320deg) brightness(104%) contrast(97%);
                }
            }
        }
    }
    .drinkcard-cc{
        position: relative;
        display: inline-block;
        margin-right: 15px;
        height: 30px;
        width: 30px;
        margin-bottom: 10px;
        border-radius: 50%;
        border: 1px solid #EBECF0;
        text-align: center;
        font-size: 12px;
        cursor: pointer;
        background: #EBECF0;
        @media screen and (min-width:480px) {
            margin-right:25px;
        }
        img{
            position: relative;
            top: 5px;
            height: 18px;
        }
        span{
            position: relative;
            top: 48%;
            transform: translateY(-50%);
            display: block;
        }
    }
    &::after{
        display: table;
        content: '';
        clear: both;
    }
}

.DayPickerInput{
    input{
        border: 1px solid #e0e0e0;
        height: 30px;
        border-radius: 3px;
        padding: 0 16px;
        &:focus{
            outline: 0px;
        }
    }
}